@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@keyframes moving {
  50% {
    width: 100%;
  }
  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}

*{
  font-family: "Nova Square", sans-serif;
}
.swankyfont{
  font-family: "Fontdiner Swanky", serif;
  font-weight: 400;
  font-style: normal;
}

 